# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo

# Virtual environment
env/
venv/
ENV/
.venv/

# Django static/media
/static/
/media/

# IDE/editor settings
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.*

# MacOS
.DS_Store
